
#root{
  display:flex;
}
#root>  :first-child{
  display: flex;
  flex-direction: column;
  flex:1 1 1;
  margin: 1em;
}
#root>  :last-child{
  flex:7 3 0;
  margin: 1em;

}

  #tr{
    display: flex;
    flex-direction: row;
   flex:10 3 1;
   margin: 1em;
    align-content: center;
  }
    

nav{
  background-color: rosybrown   ;
}
nav > button:first-child {
  margin-bottom: 1em;
  background-color: blue;
}

nav > button:first-child {
  margin-bottom: 1em;
}

 

.table{
  background-color: cadetblue;
   box-sizing: content-box;
 border: 2px solid red;
 
  margin: 1em;
}
/*
* {
    border: 1px solid rebeccapurple;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form {
    width: 70%;
    margin: auto;
}
/*
.form-control {
    display: flex;
    margin-bottom: 1em;
     1 em = 17px

}*/
/*
.form-control>* {
    /*on affecte tous les enfants*/
 /*   flex: 1 1 0;

}


.form-control:first-child {

    flex-grow: 3;

.form-control:nth-child(2) {
    flex-grow: 7;
}

.form-control-submit {
    display: flex;
    justify-content: justify;
}

 #root {
  display: flex;
}
#root > :first-child {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  margin: 1em;
}
#root > :last-child {
  flex: 7 1 0;
  margin: 1em;
}



 */
 * {
  border: 1px solid rebeccapurple;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

